language: generic
matrix:
  include:
    - env:
        - BOARD="Seeeduino:samd:seeed_XIAO_m0"
    - env:
        - BOARD="Seeeduino:samd:seeed_grove_ui_wireless"

# default phases
before_install:
  - mkdir -p "$HOME/bin"
  - curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | BINDIR="$HOME/bin" sh
  - export PATH="$PATH:$HOME/bin"
  - arduino-cli core update-index --additional-urls https://downloads.arduino.cc/packages/package_index.json
  - arduino-cli core update-index --additional-urls http://files.seeedstudio.com/arduino/package_seeeduino_boards_index.json
  - arduino-cli  core install arduino:avr --additional-urls https://downloads.arduino.cc/packages/package_index.json
  - arduino-cli  core install Seeeduino:samd --additional-urls http://files.seeedstudio.com/arduino/package_seeeduino_boards_index.json
  - |
    installLibrary() {
      local -r repositoryFullName="$1"
      local -r repositoryName="${repositoryFullName##*/}"
      # clone repository to the libraries folder of the sketchbook
      git clone https://github.com/${repositoryFullName} "${HOME}/Arduino/libraries/${repositoryName}"
      cd "${HOME}/Arduino/libraries/${repositoryName}"
      cd "${TRAVIS_BUILD_DIR}"
    }
  - installLibrary Seeed-Studio/Seeed_Arduino_FS
  - buildExampleSketch() { arduino-cli compile  --warnings all --fqbn $BOARD $PWD/examples/$1 --verbose; }
  - buildExampleUtilitySketch() { arduino-cli compile --warnings all --fqbn $BOARD $PWD/examples/utility/$1 --verbose; }

install:
  - mkdir -p $HOME/Arduino/libraries

script:
    - |
      buildExampleSketch SD/ReadWrite;
    - |
      buildExampleSketch SD/SD_Test;
    - |
      buildExampleSketch SD/listfiles;
    - |
      buildExampleSketch SD/Multi_partition;

notifications:
  webhooks:
    urls:
      - https://www.travisbuddy.com/
    on_success: never
    on_failure: always

